<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <agm-map  [latitude]="lat" [longitude]="lng" [zoom]="14">
            <ng-container *ngFor="let lugar of lugares">
                <agm-marker  [latitude]="lugar.lt" [longitude]="lugar.lg">
                    <agm-info-window>{{lugar.nombre}}</agm-info-window>
                </agm-marker>
            </ng-container>
        </agm-map>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8">
        <h2>Lugares Cercanos</h2>
        <div class="btn-crear"> <a routerLink="/crear" [queryParams]="{action: 'new'}" class="btn btn-primary crear">Crear Nuevo Lugar</a></div>
        <ul class="list-group">
            <ng-container *ngFor="let lugar of lugares">
                <!-- ngStyle es directiva de atributo por eso se usa los corchetes -->
                <li *ngIf="lugar.activo" class="list-group-item">
                   <a routerLink="/detalles/{{lugar.id}}" [queryParams]="{action: 'view'}">
                     {{lugar.nombre | uppercase}}
                     <a routerLink="/crear/{{lugar.id}}" [queryParams]="{action: 'edit'}" title="Editar">
                       <i class="fa fa-pencil"></i>
                     </a>
                     <br>
                     <small>{{lugar.id | date}}</small>
                   </a>
                </li>
            </ng-container>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>Destacados</h2>
    </div>
</div>        
