<div class="well">
   <a routerLink="/lugares">Lugares</a> / {{lugar.nombre}}
</div>

<div class="row" *ngIf="lugar.lt">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <agm-map [latitude]="lugar.lt" [longitude]="lugar.lg" [zoom]="17">
            <agm-marker [latitude]="lugar.lt" [longitude]="lugar.lg">
                    <agm-info-window>{{lugar.nombre}}</agm-info-window>
            </agm-marker>
        </agm-map>
    </div>
</div>
<div class="row col-xs-12 col-sm-12 col-md-12 detalles">
  <h1>{{lugar.nombre}}</h1>
  <hr/>
  <h3>{{lugar.distancia}} km</h3>
  <div class="well">
  <p>
     {{lugar.descripcion}}
  </p>
  <b>Plan: {{lugar.plan}}</b>
  </div>
</div>
