<agm-map [latitude]="lat" [longitude]="lng" [zoom]="17">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<hr>
<ul>
    <ng-container *ngFor="let lugar of lugares">
        <!-- ngStyle es directiva de atributo por eso se usa los corchetes -->
        <li *ngIf="lugar.activo" [ngStyle]="{'color': (lugar.activo) ? 'black':'gray'}">{{lugar.nombre}}</li>
    </ng-container>
</ul>
<ul>
    <ng-container *ngFor="let lugar of lugares; let i = index">
        <!-- ngClass es directiva de atributo por eso se usa los corchetes -->
        <li  [ngClass]="{'numero-par': (i+1) % 2 == 0, 'numeno-impar': (i+1) % 2 != 0, 'gray': !lugar.activo}">{{lugar.nombre}}</li>
    </ng-container>
</ul>
