.btn{
  color: red;
}
.text-center{
  text-align: center;
}
ul{
  list-style: none;
  color: black;
  font-family: Arial;
  width: 20%;
  background-color: blanchedalmond;
}
li {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: blue;
  padding: .3em;
}
span{
  background-color: rgba(230,200,200,.7);
}