.btn{
  color: red;
}
.text-center{
  text-align: center;
}

agm-map {
  height: 300px;
  width: 789px;
  display: flex;
  float: none;
  margin: 0 auto;
  text-align: center;
}

ul > li.numero-par{
  background-color: aliceblue;
  color: blue;
}
ul > li.numero-impar{
  background-color: white;
  color: black;
}
.gray{
  color: gray!important;
}